/*This is targetting the class for the button on the wrong answer page*/
.button {
    display: inline-block;
    margin: 5px;
    margin-top: 25px;
    background: #d37bb1;
    color: rgb(218, 212, 212);
    font-size: 1.5em;
    font-family: ‘Georgia’, serif;
    font-style: italic;
    border-radius: 50px;
    padding: 8px 16px;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    text-decoration: underline;
}

/*This is targetting the class for the button on the wrong answer page*/
/*When the user hovers over a button it will highlight and change to a lighter color*/
.button:hover {
    background: rgb(231, 34, 231);
    color: #ffffff;
}

/*This is targetting the header on the wrong answer page*/
h1{
  text-align:Center;
  font-family: 'Fredoka One', cursive;
  color: red;
  font-size:90px;
}

/*This is the class for the sad face*/
.container{
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  }

/*This is the background color for some of the question pages with webkit-keyframes*/ 
/*It allows the background to move around and change colors*/
body {
    background: linear-gradient(-75deg, rgb(24, 20, 240), rgb(3, 188, 245), rgb(40, 172, 216));
    background-size: 170% 200%;
    -webkit-animation: Gradient 3s ease-in-out infinite;
    animation: Gradient 3s ease-in-out infinite;

}

/*This allows the background to move around and change colors*/
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/*This allows the background to move around and change colors*/
@keyframes Gradient {
	10% {
		background-position: 0% 50%
	}
	100% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/*This allows the background to move around and change colors*/
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

/*This allows the background to move around and change colors*/
@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0% 50%
    }
}

  
  /*This is the class for the face of the sad face animated emoji*/
  .face {
    width:150px;
    height:150px;
    border: 9px solid #bdc3c7;
    border-radius:50%;
    animation: face 7s infinite;
    animation-delay:2s;
    position:relative;
    z-index:9999;
  }
  
    /*This is the class for the mouth of the sad face animated emoji*/
  .mouth {
    height:10px;
    width:35px;
    margin: 0 auto;
    margin-top: 15px;
    background-color:#bdc3c7;
    animation: mouth 7s infinite;
    animation-delay:2s;
  }
  
    /*This is the class for the left tear of the sad face animated emoji*/
  .tear {
    position:absolute;
    background-color: #3498db;
    height:0px;
    width:45px;
    top:62px;
    left:29px;
    border-bottom-left-radius:50%;
    animation: tear 7s infinite;
    animation-delay:2s;
  }
  
    /*This is the class for the right tear of the sad face animated emoji*/
  .tear2 {
    position:absolute;
    background-color: #3498db;
    height:0px;
    width:45px;
    top:62px;
    left:98px;
    border-bottom-right-radius:50%;
    animation: tear 7s infinite;
    animation-delay:2s;
  }
  
    /*This is the class for the eye of the sad face animated emoji*/
  .eye {
    height:10px;
    width:45px;
    background-color:#bdc3c7;
    display:inline-block;
    margin-left:20px;
    margin-top:20px;
    animation: cry 7s infinite;
    animation-delay:2s;
  }
  
    /*This is the class for the eyebrow of the sad face animated emoji*/
  .eyebrow {
    width:30px;
    font-size:40px;
    font-weight:bold;
    color:#bdc3c7;
    display:inline-block;
    margin-left:27px;
    margin-top: 10px;
    opacity:0;
    animation: eyebrow 7s infinite;
    animation-delay:2s;
  }
  
  /*This is the class for the eyebrow of the sad face animated emoji*/
  /*With the code below it will rotate the ︶ so it resembles an eyebrow or basically moves with the face*/
  .eyebrow:nth-child(1) {
    transform:rotate(-20deg);
  }
  
  /*This is the class for the eyebrow of the sad face animated emoji*/
  /*With the code below it will rotate the ︶ so it resembles an eyebrow or basically moves with the face*/
  .eyebrow:nth-child(2) {
    transform:rotate(20deg);
  }
  
  /*This is the keyframe that is targetting the sad face's mouth*/
  /*With the code below when the sad face animated emoji begins to cry its mouth will open into an o shape*/
  @keyframes mouth {
    10%{height:30px;width:25px; border:6px solid black;border-radius:50%;margin-top:-8px;}
    50%{height:30px;width:25px; border:6px solid black;border-radius:50%;margin-top:-8px;}
    60%{height:10px;width:35px;border-radius:0%;border:none;margin-top:15px;}
  }
  
  /*The code below will target the emoji's eyes*/
  /*With the code below it will cause the emoji eyes to move up, and change to black*/
  @keyframes cry {
    10%{transform:translateY(-34px);background-color:black;}
    50%{transform:translateY(-34px);background-color:black;}
    60%{background-color:#bdc3c7;transform:translateY(0px);}
  }
  
  /*The code below is targetting the emoji's eyebrows*/
  /*With the code below when the emoji begins to cry its eyebrows will appear*/
  @keyframes eyebrow {
    10%{opacity:1;color:black;}
    50%{opacity:1;color:black;}
    60%{opacity:0;}
  }
  
  /*The code below is tagetting the emoji's outter face*/
  /*When the emoji begins to cry it's outter face turns from white to black*/
  @keyframes face {
    10%{border-color:black;}
    50%{border-color:black;}
    60%{border-color:#bdc3c7;}
  }
  
  /*The code below is tagetting the emoji's front face*/
  /*When the emoji begins to cry, blue tears will appear on the front of it's face*/
  @keyframes tear {
    10%{height:96px;}
    50%{height:96px;}
    52%{height:0px;}
  }
  